{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
<h1>{% trans "Users" %}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Date joined" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                {% if request.user == user %}
                    <a href="{% url 'user_update' user.id %}">{% trans "Update" %}</a>
                    <a href="{% url 'user_delete' user.id %}">{% trans "Delete" %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
